.container-box {
    position: relative;

    &__content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    &__title {
        color: $title;
    }

    &__subtitle {
        color: $subtitle;
    }

    &__button {
        background-color: $button;
        color: #FFF;
        padding: 10px 20px;
    }
}

